
<h1 style="text-align:center;">New Article</h1>
 <div class="container">
<div class="card">
<div class="container">
<%= render 'form', article: @article %>
 

</div>

 </div>
 <%= link_to 'Back', articles_path, class:"btn btn-dark back-button" %>
 </div>